---
layout: default
index: true
---

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

              <div style="vertical-align:center;display:inline-block;text-align:center;max-width:100%">
                  <img style="max-width:100%" src="{{ "/images/screenshot.png" | prepend: site.baseurl }}" alt="Screenshot">
                  <h3>Current version: 0.5.0</h3>
                  <h4>(released April 4, 2020)</h4>
                  <a style="font-size:16px;" href="{{ "/download" | prepend: site.baseurl }}" class="btn btn-primary btn-sm">Download</a>
              </div>

              <div style="margin-top:20px">
                <h2>News</h2>
                {% for post in site.posts %}
                  {% if forloop.index > 3 %}{% break %}{% endif %}
                  <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                  <p><i class="fa fa-calendar"></i> &nbsp;{{ post.date | date: "%b %-d, %Y" }} {% if site.disqus_short_name and page.comments != false and site.disqus_show_comment_count == true %}
        |  <a href="{% if page.index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
        {% endif %}</p>
                {% endfor %}

                <h4 style="padding-top:10px"><a href="{{ "/archive" | prepend: site.baseurl }}">More…</a></h4>
              </div>

              <div style="margin-top:40px">
                <h2 style="padding-bottom:10px">About</h2>
                <p>
                    Kaidan is a simple, user-friendly Jabber/XMPP client providing a modern user-interface using
                    <a href="https://kde.org/products/kirigami/">Kirigami</a> and <a href="https://wiki.qt.io/Qt_Quick">
                    QtQuick</a>. The back-end of Kaidan is entirely written in C++ using the <a
                    href="http://qxmpp.org">QXmpp</a> XMPP client library and <a href="https://www.qt.io/">Qt 5</a>.
                </p>
                <p>
                    A list of supported XMPP extensions (XEPs) can be found <a href="/features/">here</a>.
                </p>
                <p>
                    Kaidan is not finished yet, so don't expect it working as well as a finished client will do.
                </p>
              </div>
            </div>
            <div class="col-md-3"></div>
        </div>

