---
permalink: 2020/01/08/Easy-Registation/
layout: none
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="refresh" content="0; url={{ '/2020/01/08/Easy-Registration/' | prepend: site.url }}" />
</head>

<body>
    <p>This page has moved, you should be automatically redirected. If not, please click <a href="{{ '/2020/01/08/Easy-Registration/' | prepend: site.url }}">here</a>.</p>
</body>

</html>
